rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function logado() { return request.auth != null; }

    function ehPorteiro() {
      return logado() && exists(/databases/$(database)/documents/porteiros/$(request.auth.uid));
    }

    function ehAdmin() {
      return ehPorteiro() && get(/databases/$(database)/documents/porteiros/$(request.auth.uid)).data.get('admin', false) == true;
    }

    match /porteiros/{uid} {
      allow get: if logado() && request.auth.uid == uid;
      allow list, write: if false;
    }

    match /solicitacoes_acesso/{id} {
      // Aceita o novo campo "visitante" e bloqueia "printUrl"
      allow create: if logado()
        && request.resource.data.keys().hasOnly([
             'empresa', 'colaborador', 'visitante', 'placa', 'veiculo',
             'minutosEstimados', 'status', 'criadoEm', 'expiraEm', 'solicitanteUid', 'solicitanteEmail'])
        && request.resource.data.keys().hasAll([
             'empresa', 'colaborador', 'visitante', 'placa', 'veiculo',
             'minutosEstimados', 'status', 'criadoEm', 'expiraEm', 'solicitanteUid', 'solicitanteEmail'])
        && request.resource.data.status == 'AGUARDANDO'
        && request.resource.data.solicitanteUid == request.auth.uid
        && request.resource.data.solicitanteEmail == request.auth.token.email
        && request.resource.data.criadoEm == request.time
        && request.resource.data.placa is string
        && request.resource.data.placa.matches('^[A-Z]{3}[0-9][A-Z0-9][0-9]{2}$')
        && request.resource.data.empresa is string
        && request.resource.data.empresa.size() >= 1
        && request.resource.data.empresa.size() <= 60
        && request.resource.data.colaborador is string
        && request.resource.data.colaborador.size() >= 2
        && request.resource.data.colaborador.size() <= 80
        && request.resource.data.visitante is string
        && request.resource.data.visitante.size() <= 80
        && request.resource.data.veiculo is string
        && request.resource.data.veiculo.size() <= 60
        && request.resource.data.minutosEstimados in [3, 5, 10, 15, 20]
        && request.resource.data.expiraEm is timestamp
        && request.resource.data.expiraEm > request.time
        && request.resource.data.expiraEm <= request.time + duration.value(91, 'd');

      allow read: if ehPorteiro();

      allow update: if ehPorteiro()
        && resource.data.status == 'AGUARDANDO'
        && request.resource.data.status in ['LIBERADO', 'DESCARTADO']
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['status', 'liberadoEm', 'finalizadoPor'])
        && request.resource.data.liberadoEm == request.time
        && request.resource.data.finalizadoPor == request.auth.token.email;

      allow delete: if ehAdmin();
    }
  }
}
